.page-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.form-container {
    border-radius: 8px;
    background-color: #f1f1f1;
    padding: 25px;
    width: 550px;
}

.form-container h6 {
    border-top: 2px solid #000;
}

.form-container h6 span {
    color: #6e6e6e;
    text-decoration: underline;
}

.form-container h6 span:hover {
    color: #919191;
}

form label {
    font-size: 0.9rem;
}

form input {
    margin-bottom: 15px;
    background-color: #fff;
}
